{% extends 'template.html' %}

{% block title %}
Official Dashboard
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center" style="padding-top: 50px">
        <h3>Hello, {{user.name}}</h3>
        <h3>Welcome to Admin Dashboard</h3>
    </div>
    <div class="row justify-content-center" style="padding-top: 40px;">
        <div class="col-lg-6">
            <h4 class="text-center">Transaction Services</h4>
            <div class="card bg-dark" style="margin-top: 20px; margin-bottom: 20px">
                <div class="card-body">
                    <h5 class="card-title">Perform a Transaction</h5>
                    <p class="card-text">Seamlessly withdraw and deposit cash with your bank account.</p>
                    <button class="btn btn-dark" style="background-color: #212121" onclick="location.href='/main_menu/transaction'">Click Here</button>
                </div>
            </div>
            <div class="card bg-dark" style="margin-top: 20px; margin-bottom: 20px">
                <div class="card-body">
                    <h5 class="card-title">Update User Details</h5>
                    <p class="card-text">Use this feature to update the user details.</p>
                    <button class="btn btn-dark" style="background-color: #212121" onclick="location.href='/main_menu/current_balance'">Click Here</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h4 class="text-center">Invest</h4>
            <div class="card bg-dark" style="margin-top: 20px; margin-bottom: 20px">
                <div class="card-body">
                    <h5 class="card-title">Open Fixed Deposit</h5>
                    <p class="card-text">Deposit a specific amount in bank and get exciting returns.</p>
                    <button class="btn btn-dark" style="background-color: #212121" onclick="location.href='/main_menu/fd'">Click Here</button>
                </div>
            </div>
            <div class="card bg-dark" style="margin-top: 20px; margin-bottom: 20px">
                <div class="card-body">
                    <h5 class="card-title">Close Fixed Deposit</h5>
                    <p class="card-text">Close the FD and transfer funds to the user's account.</p>
                    <button class="btn btn-dark" style="background-color: #212121" onclick="location.href='/main_menu/interest'">Click Here</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}